<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Gulpinator</title>
  <meta name="author" content="Sven Hoskens">

  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <!-- compile-sass:css -->
  <!-- endinject -->
</head>

<body>
  <h1>This is an example page for the Gulpinator project</h1>

  <!-- bundle-js:js -->
  <!-- endinject -->

  <!-- bundle-webpack:js -->
  <!-- endinject -->
</body>
</html>