#example2 {
  margin: 30px 0;

  input {
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
  }

  button {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    border: 1px solid black;
    cursor: pointer;
  }

  p {
    margin: 10px;
  }
}
