<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Gulpinator</title>
  <meta name="author" content="Sven Hoskens">

  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <!-- inject:css -->
  <!-- endinject -->
</head>

<body>
  {{> ../partials/test }}

  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>